.form-builder {
  width: 100%;
}

.form-mainDiv {
  width: 100%;
}

.form-inner {
  margin-top: 60px;
  width: 100%;
  justify-content: center;
}

.div1 {
  width: 100%;
  display: flex;

}

.div2 {
  width: 50px;
}

.div3 {
  margin-left: 100px;
  display: flex;
  width: 500px;
  justify-content: space-evenly;
}

.div4 {
  margin-left: 100px;
  display: flex;
  width: 800px;
}

.div5 {
  width: 200px;
}

.head-labels {
  margin-top: 10px;
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.field-Main {
  display: flex;
}

.form-icons {
  width: 40px;
}

.field-names {
  width: 1150px;
  display: flex;
  justify-content: space-evenly;
  margin-top: 10px;
}

.delete-btn {
  margin-top: 60px;
  margin-left: 40px;
}

.add-btn {
  width: 150px;
  margin-top: 10px;
  margin-left: 60px;
}

.add-field {
  margin-top: 10px;
}

.sub-btn {
  float: right;
  margin-right: 199px;
  margin-top: 20px;
}

.fieldType-select {
  width: 130px;
}