body {
  padding: 0;
  margin: 0;
}
.header-mainDiv {
  background-color: #fff;
  height: 70px;
  width: auto;
  border: 2px solid black;
  display: flex;
  justify-content: space-between;
}
.header-title {
  color: chocolate;
  padding-left: 50px;
  padding-bottom: 20px;
}
.logout-btn {
  margin: 0.85em;
}
