.sideBar-mainDiv {
  min-height: 650px;
  min-width: 230px;
  width: 15%;
  border: solid black 2px;
  color: #c6c7e2;
  background: #383b61;
  margin-right: 1em;
  // padding: 1em;
}
.sideNav {
  border-bottom: 1px solid #dee2e640 !important;
  padding: 0.65em;

  &:first-child {
    margin-top: 0.5em;
  }
  &:last-child {
    border: 0 !important;
  }
}
